In [1]:
import pandas as pd
import numpy as np

In [2]:
nba = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv")

In [3]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# nba[(nba['Salary'] > n) & (nba['Salary'] < n)], n -> any number

In [5]:
# nba.dropna(how = 'all') -> to drop a line of NA values

In [7]:
nba.dropna(subset = ['College'])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [12]:
mean = nba['Salary'].mean().round(2)

In [13]:
mean

9218978.29

In [21]:
nba['Salary'].fillna(mean, inplace = True) # Not saved yet, to save use inplace = True

In [24]:
nba['College'].fillna('Unknown', inplace = True)

In [25]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.00
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.00
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.00
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.00
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,9218978.29
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.00
591,NaN,NaN,NaN,NaN,NaN,Unknown,9218978.29

In [38]:
nba.loc[nba['Position'] == 'G',['Name', 'Team', 'Position']] # Filtering with a specific Position

                  Name                Team Position
1    Bogdan Bogdanovic       Atlanta Hawks        G
2          Kobe Bufkin       Atlanta Hawks        G
5        Trent Forrest       Atlanta Hawks        G
10          Seth Lundy       Atlanta Hawks        G
11    Garrison Mathews       Atlanta Hawks        G
..                 ...                 ...      ...
584      Kendrick Nunn  Washington Wizards        G
586       Jordan Poole  Washington Wizards        G
587       Ryan Rollins  Washington Wizards        G
588      Landry Shamet  Washington Wizards        G
590       Delon Wright  Washington Wizards        G

[229 rows x 3 columns]

In [39]:
# Discussed topics: Dropna, Fillna, Filtering using loc

In [50]:
nba['New Salary'] = nba['Salary']*1.05

In [51]:
nba

,Name,Team,Position,Height,Weight,College,Salary,New Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.00,4.784832e+06
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.00,1.963500e+07
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.00,4.298956e+06
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.00,2.164680e+07
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.00,2.710598e+06
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.00,1.805857e+06
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.00,1.076250e+07
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,9218978.29,9.679927e+06
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.00,8.604878e+06
591,NaN,NaN,NaN,NaN,NaN,Unknown,9218978.29,9.679927e+06

In [77]:
nba.drop('New Salary', axis = 1)

,Name,Team,Position,Height,Weight,College,Salary,Salary Inc
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.00,2.278492e+05
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.00,9.350000e+05
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.00,2.047122e+05
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.00,1.030800e+06
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.00,1.290761e+05
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.00,8.599320e+04
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.00,5.125000e+05
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,9218978.29,4.609489e+05
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.00,4.097561e+05
591,NaN,NaN,NaN,NaN,NaN,Unknown,9218978.29,4.609489e+05

In [72]:
data = {'Name': ['Vishak', 'Ahill', 'Madhan', ' '],
        'Roll': [41, 34, '', 51],
        'Class': ['B', ' ', 'B', 'B']}

In [73]:
pd.DataFrame(data)

     Name Roll Class
0  Vishak   41     B
1   Ahill   34
2  Madhan          B
3           51     B

In [75]:
nba.iloc[:10, 0:3]

                Name           Team Position
0         Saddiq Bey  Atlanta Hawks        F
1  Bogdan Bogdanovic  Atlanta Hawks        G
2        Kobe Bufkin  Atlanta Hawks        G
3       Clint Capela  Atlanta Hawks        C
4     Bruno Fernando  Atlanta Hawks      F-C
5      Trent Forrest  Atlanta Hawks        G
6         AJ Griffin  Atlanta Hawks        F
7     Mouhamed Gueye  Atlanta Hawks        F
8    De'Andre Hunter  Atlanta Hawks      F-G
9      Jalen Johnson  Atlanta Hawks        F

In [76]:
nba.iloc[:10, 3]

0     6-7
1     6-5
2     6-5
3    6-10
4    6-10
5     6-4
6     6-6
7    6-11
8     6-8
9     6-8
Name: Height, dtype: object

In [79]:
nba.drop('Salary Inc', axis = 1, inplace = True)

In [80]:
nba.drop('New Salary', axis = 1, inplace = True)

In [81]:
nba['Salary Increase'] = nba['Salary']*1.05

In [82]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Salary Increase
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.00,4.784832e+06
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.00,1.963500e+07
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.00,4.298956e+06
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.00,2.164680e+07
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.00,2.710598e+06
...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.00,1.805857e+06
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.00,1.076250e+07
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,9218978.29,9.679927e+06
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.00,8.604878e+06
591,NaN,NaN,NaN,NaN,NaN,Unknown,9218978.29,9.679927e+06

In [84]:
nba[(nba['Salary'] > 400000000) & (nba['Salary'] < 550000000)]

Empty DataFrame
Columns: [Name, Team, Position, Height, Weight, College, Salary, Salary Increase]
Index: []