In [1]:
import pandas as pd

In [2]:
import numpy as py

In [12]:
data = {"Region": ["Asia", "Asia", "Europe", "Europe", "America"],
        "Country": ["India", "China", "Russia", "UK", "America"],
        "Year": [2025, 2024, 2023, 2022, 2021],
        "Sales": [25000, 50000, 100000, 125000, 150000],
        "Profit": [10000, 20000, 22000, 30000, 50000]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    Region  Country  Year   Sales  Profit
0     Asia    India  2025   25000   10000
1     Asia    China  2024   50000   20000
2   Europe   Russia  2023  100000   22000
3   Europe       UK  2022  125000   30000
4  America  America  2021  150000   50000

In [6]:
# Dataframe: 2D matrix arrangement that represents data in rows and columns

In [7]:
df.sort_values(by = "Country")

    Region  Country  Year   Sales  Profit
4  America  America  2021  150000   50000
1     Asia    China  2024   50000   20000
0     Asia    India  2025   25000   10000
2   Europe   Russia  2023  100000   22000
3   Europe       UK  2022  125000   30000

In [8]:
df.sort_index()

    Region  Country  Year   Sales  Profit
0     Asia    India  2025   25000   10000
1     Asia    China  2024   50000   20000
2   Europe   Russia  2023  100000   22000
3   Europe       UK  2022  125000   30000
4  America  America  2021  150000   50000

In [9]:
df.groupby(["Region"])[["Profit","Sales"]].mean()

          Profit     Sales
Region
America  50000.0  150000.0
Asia     15000.0   37500.0
Europe   26000.0  112500.0

In [10]:
df.Sales = df.Sales.astype(float)

In [11]:
df.Sales.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: Sales
Non-Null Count  Dtype
--------------  -----
5 non-null      float64
dtypes: float64(1)
memory usage: 172.0 bytes