In [43]:
import pandas as pd
import numpy as np

In [5]:
nba = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv")

In [7]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Adding an additional column with blank data.

In [12]:
nba['Additional'] = ' '

In [13]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Extra Name,Additional
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,
...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,

In [16]:
# 5% increase in the salary

In [14]:
nba['Salary Increase'] = 0.05
nba['Revised Salary'] = nba['Salary'] + nba['Salary']*0.05

In [15]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Extra Name,Additional,Salary Increase,Revised Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,,0.05,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,,0.05,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,,0.05,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,,0.05,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,,0.05,2710598.10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,,0.05,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,,0.05,10762500.00
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,,,0.05,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,,0.05,8604878.10
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,0.05,NaN

In [22]:
# Replacing NA values in college column with 'Unknown'.

In [44]:
nba['College'] = nba['College'].replace(np.nan, 'Unknown')

In [23]:
# Removing a column

In [41]:
nba.drop('Extra Name', axis = 1, inplace = True)

KeyError: "['Extra Name'] not found in axis"

In [29]:
# Dropping values using drop na, axis = 0 removes the row and axis = 1 removes the column.

In [31]:
nba.dropna(axis = 0, inplace = True)

In [34]:
nba.College

0          Villanova
1         Fenerbahce
2           Michigan
3        Elan Chalon
4           Maryland
           ...
585           Oregon
586         Michigan
587           Toledo
588    Wichita State
590             Utah
Name: College, Length: 475, dtype: object

In [42]:
nba

,Name,Team,Position,Height,Weight,College,Salary,Additional,Salary Increase,Revised Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,0.05,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,0.05,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,0.05,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,0.05,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,0.05,2710598.10
...,...,...,...,...,...,...,...,...,...,...
585,Eugene Omoruyi,Washington Wizards,F,6-6,235.0,Oregon,559782.0,,0.05,587771.10
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,,0.05,29353124.85
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,0.05,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,0.05,10762500.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,0.05,8604878.10

# Practice Question

In [45]:
#Q1 Missing values

In [46]:
nba.College.isna().value_counts()

College
False    475
Name: count, dtype: int64

In [47]:
nba.Salary.isna().value_counts()

Salary
False    475
Name: count, dtype: int64

In [48]:
#Q3

In [49]:
nba.Weight.mean()

214.9115789473684

In [50]:
min(nba['Weight'])

160.0

In [51]:
max(nba['Weight'])

290.0

In [58]:
nba[(nba['Salary'] > 1000000) & (nba['Weight'] < 60000)]

,Name,Team,Position,Height,Weight,College,Salary,Additional,Salary Increase,Revised Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,,0.05,4784832.15
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,,0.05,19635000.00
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,,0.05,4298956.20
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,,0.05,21646800.00
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,,0.05,2710598.10
...,...,...,...,...,...,...,...,...,...,...
583,Mike Muscala,Washington Wizards,F-C,6-11,240.0,Bucknell,3500000.0,,0.05,3675000.00
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0,,0.05,29353124.85
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,,0.05,1805857.20
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,,0.05,10762500.00
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,,0.05,8604878.10

In [52]:
# data cleaning -> drop, insert, fill, changing
# data series and data frame