In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv")

In [6]:
nba.info()

NameError: name 'nba' is not defined

In [ ]:
nba.sort_index()

In [ ]:
nba.sort_index(ascending = False)

In [ ]:
nba.sort_values(by = 'Name', ascending = False)

In [ ]:
nba = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv", index_col = 'Name')

In [ ]:
nba

In [ ]:
nba['Salary Double'] = nba.Salary * 2

In [ ]:
nba

In [ ]:
    import pandas as pd

    df = pd.DataFrame({'Name': ['John Doe', 'Jane Smith', 'Peter Jones']})
    df['Name_Parts'] = df['Name'].str.split(' ')
    print(df)

In [ ]:
nba['Height Split'] = nba['Height'].str.replace('-', ".")

In [ ]:
nba

In [ ]:
df['Height_clean'] = df['Height'].replace(['NaN', '...'], np.nan)

# 3. Split the 'feet-inches' string into two separate columns
# 'expand=True' creates new columns ('0' for feet, '1' for inches)
parts = df['Height_clean'].str.split('-', expand=True)

# 4. Convert the new 'feet' and 'inches' columns to numeric types
# 'errors='coerce'' will turn any errors (like on a NaN row) into NaN
feet = pd.to_numeric(parts[0], errors='coerce')
inches = pd.to_numeric(parts[1], errors='coerce')

# 5. Apply the conversion formula: (Feet * 12 + Inches) * 2.54
total_inches = (feet * 12) + inches
df['Height_cm'] = total_inches * 2.54

In [ ]:
df

In [ ]:
df = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv", index_col= 'Name', usecols = ['Name', 'Team', 'Position'])

In [ ]:
df

In [ ]:
df.sort_values(by = 'Name', ascending = True)