In [1]:
import pandas as pd
import numpy as np

In [2]:
nba = pd.read_csv(r"C:\Users\User\Downloads\SBA-class-activity-main\nba.csv")

In [9]:
nba[['Feet', 'Inch']] = nba['Height'].str.split('-', expand = True)

In [10]:
nba

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Feet,Inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7,6,7
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5,6,5
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5,6,5
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10,6,10
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10,6,10
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3,6,3
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4,6,4
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10,6,10
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5,6,5
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
 7   feet      585 non-null    object
 8   inch      585 non-null    object
 9   Feet      585 non-null    float64
 10  Inch      585 non-null    float64
dtypes: float64(4), object(7)
memory usage: 51.0+ KB

In [19]:
nba[['Feet', 'Inch']] = nba[['Feet', 'Inch']].apply(pd.to_numeric)

In [14]:
nba.Feet = nba.Feet.astype(float)

In [25]:
nba['Height (cm)'] = nba['Feet']*30.48+nba['Inch']*2.54

In [26]:
# [] -> list and [[]] -> dataframe

In [27]:
nba['College'].dropna(inplace = True)

In [28]:
nba['College'].isna().value_counts()

College
False    578
True      14
Name: count, dtype: int64

In [33]:
nba['College'].unique()

array(['Villanova', 'Fenerbahce', 'Michigan', 'Elan Chalon', 'Maryland',
       'Florida State', 'Duke', 'Washington State', 'Virginia',
       'Penn State', 'Lipscomb', 'Marquette', "St. Mary's", 'Washington',
       nan, 'Southern California', 'Oklahoma', 'Nebraska', 'Syracuse',
       'California', 'Alabama', 'Florida', 'Vanderbilt', 'Kansas',
       'Cajasol Sevilla', 'Oregon', 'John A. Logan', 'Arkansas',
       'Colorado', 'Texas A&M', 'Princeton HS (OH)', 'Houston', 'Georgia',
       'North Carolina', 'Baylor', 'Louisiana State',
       'North Carolina State', 'Miami', 'UCLA', 'Illawarra',
       'Connecticut', 'Michigan State', 'Butler', 'Texas', 'Asvel',
       'Nevada', 'FC Barcelona', 'Strasbourg IG', 'Kentucky',
       'Louisville', 'Auburn', 'West Virginia', 'South Carolina Upstate',
       'Illinois', 'Radford', 'Tennessee', 'Austin Peay', 'Arizona',
       'Eastern Michigan', 'Utah State', 'Murcia', 'Iowa State',
       'Wichita State', 'DePaul', 'Kansas State', 'Real Madrid',
       'Australian Institute of Sport', 'NBA G League Ignite',
       'Bowling Green', 'UNLV', 'Bayern Munich', 'South Carolina', 'TCU',
       'Stanford', 'Iowa', 'San Pablo Burgos', 'Boston College',
       'Mega Basket', 'Missouri', 'Wake Forest', 'Gonzaga', 'Clemson',
       'Oklahoma State', 'Memphis', 'Princeton', 'Ratiopharm Ulm',
       'Purdue', 'Seton Hall', 'Overtime Elite', 'Davidson', 'Indiana',
       'Vermont', 'Oregon State', 'Santa Clara', 'Anadolu Efes',
       'Georgetown', 'Northwest Missouri State', 'Besiktas', 'Ohio State',
       'Buffalo', 'Belmont', 'Brose Bamberg', 'Dayton', 'Le Mans',
       'Minnesota', 'Tennessee State', 'Fresno State',
       'Virginia Commonwealth', 'San Diego State', 'IMG Academy (FL)',
       'Morehead State', 'Ohio', 'St. Vincent-St. Mary HS (OH)',
       'Pepperdine', 'Texas-Austin', 'California-Santa Barbara',
       'Pittsburgh', 'Loyola-Maryland', 'Arizona State', 'Richmond',
       'Tulsa', 'Indiana-Purdue Fort Wayne', 'Louisiana Tech',
       'Murray State', 'Colorado State', 'San Francisco', 'Oakland',
       'Wheeling Jesuit', 'Filathlitikos', 'Panathinaikos', 'Notre Dame',
       'Union Olimpija', 'Northern Iowa', 'San Jose State',
       'Virginia Tech', 'Cholet', 'Southern Methodist',
       'Tennessee-Chattanooga', 'Georgia Tech', 'Xavier', 'Lehigh',
       'Wyoming', 'Lietuvos rytas Vilnius', 'Poitiers Basket 86',
       'Zalgiris', 'William & Mary', 'Massachusetts-Lowell',
       'Western Kentucky', 'California State-Northridge', 'Baskonia',
       'New Zealand Breakers', 'NBA Global Academy', 'Serbia',
       'Olympiacos', 'Stephen F. Austin', 'Maccabi Tel Aviv',
       'Texas Tech', 'Baloncesto Fuenlabrada', 'St. Louis', 'Drexel',
       'George Washington', 'Weber State', 'Cedevita',
       'Edgewater HS (FL)', 'Furman', 'Barcelona, Spain', "St. John's",
       'Creighton', 'Metropolitans 92', 'Rhode Island', 'Rutgers', 'Utah',
       'Braunschweig', 'New Mexico State', 'Providence',
       'Central Florida', 'Marshall', 'Wisconsin', 'Wisconsin-Milwaukee',
       'Winthrop', 'Olimpia Milano', 'Bucknell', 'Toledo'], dtype=object)

In [31]:
nba.drop('Height (cm)', axis = 1)

,Name,Team,Position,Height,Weight,College,Salary,feet,inch,Feet,Inch
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,6,7,6.0,7.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,6,5,6.0,5.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,6,5,6.0,5.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,6,10,6.0,10.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,6,10,6.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,6,3,6.0,3.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0,6,4,6.0,4.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN,6,10,6.0,10.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0,6,5,6.0,5.0
591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
nba['College'] = nba['College'].replace(np.nan, 'Unknown')

In [6]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0
591,NaN,NaN,NaN,NaN,NaN,Unknown,NaN